#h1{
	position:absolute;
	top:200px;
	/*left:20px;*/
	color:#ff6347;
	text-align:center;
}
#h2{
	position:absolute;
	top:240px;
	/*left:23px;*/
	color:#ff6347;
	text-align:center;
}
#up{
	position: absolute;
	top:200px;
	left:130px;
}
#down{
	position: absolute;
	top:280px;
	left:130px;
}
#left{
	position: absolute;
	top:240px;
	left:85px;
}	
#right{
		position: absolute;
		top:240px;
		left:170px;
	}
#crush_Once{
			position: absolute;
			top:350px;
			left:90px;
		}
table{
	height:320px;
	width:320px;
	position:absolute;
	top:100px;
	left:120px;
}


.btn:disabled{
	background-color:black;
}
.candy-red,.candy-orange,.candy-purple,.candy-green, .candy-yellow,.candy-blue {
	height: 100%;
	width: 100%;
	color: white;
	text-align:center;
}

.candy-red {
	background-color: red;
}

.candy-green {
	background-color: green;
}

.candy-orange {
	background-color: orange;
}

.candy-blue {
	background-color: blue;
}

.candy-purple {
	background-color: purple;
}

.candy-yellow {
	background-color: yellow;
	color: black;
}